@import "../font/font.css";

.fon-contact{
    background: rgb(255,255,255);
    width: 100%;
}
.header-fon__cnt{
    min-height: 794px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.header-fon__cnt .header-info {
    margin-top: 30px;
}
.header-fon__cnt .header-title {
    margin: 40px auto 0;
}
.header-info__name ul li a{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.49);
    line-height: 1.5;
    text-align: left;

}
.header-info__name ul li + li{
    margin-left: 5px;
}
.contact-title{
    margin-top: -40px;
    margin-bottom: 50px;
}
.contact-title h4{
    font-weight: 500;
    font-size: 21px;
    color: rgb(0, 0, 0);
    line-height: 1.429;
    text-align: center;
}
.contact-title p{
    margin-top: 20px;
    font-size: 16px;
    color: rgb(0, 0, 0);
    line-height: 1.875;
    text-align: center;
}
.fon-contact{
    padding-bottom: 110px;
}


@media (max-width: 991.98px){
    .header-info__name{
        display: none;
    }
    .header-fon__cnt {
        min-height: 380px;
        padding-top: 30px;

    }
    .contact-title {
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .contact-title p {
        margin-top: 16px;
        line-height: 1.575;
    }
}
@media (max-width: 767.98px){

    .header-fon__cnt {
        min-height: 300px;
        padding-top: 30px;
    }
    .fon-contact {
        padding-bottom: 46px;
    }

}
@media (max-width: 575.98px){

    .header-fon__cnt .header-title h1 {
        font-size: 24px;
    }
    .contact-title h4 {
        font-size: 19px;
        line-height: 1.329;
    }
    .contact-title p {
        font-size: 15px;
        line-height: 1.475;
    }



}
