@import "../font/font.css";

.help-needed-leave-request__block{
    margin-top: -40px;
    margin-bottom: 20px;
}
.help-needed-leave-request__title h3{
    font-size: 24px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    line-height: 1.42;
    text-align: center;
}
.help-needed-leave-request__form{
    max-width: 731px;
    width: 100%;
    margin: 15px auto 0;
}
.help-needed-leave-request__inp{
    max-width: 148px;
    width: 100%;
}
.help-needed-leave-request__inp + .help-needed-leave-request__inp{
    max-width: 208px;
    width: 100%;
}
.help-needed-leave-request__inp label{
    position: relative;
}
.help-needed-leave-request__inp label:before {
    content: "";
    position: absolute;
    top: -12px;
    left: -1px;
    width: 5px;
    height: 22px;
    background: rgb(249,249,249);
}
.help-needed-leave-request__inp label:after {
    content: "";
    position: absolute;
    top: -12px;
    right: -1px;
    width: 5px;
    height: 22px;
    background: rgb(249,249,249);
}
.help-needed-leave-request__inp label input{
    border-left: 1px solid  rgb(0, 0, 0);
    border-right: 1px solid  rgb(0, 0, 0);
    border-bottom: 1px solid  rgb(0, 0, 0);
    border-radius: 5px;
    width: 100%;
    height: 35px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.412);
    text-align: left;
    padding: 0 10px;
}
.help-needed-leave-request__inp label input::placeholder{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.412);
}
.help-needed-leave-request__btn {
    max-width: 226px;
    width: 100%;
}
.help-needed-leave-request__btn button{
    width: 100%;
    height: 44px;
    border-radius: 5px;
    background-color: rgb(0, 136, 240);
    font-size: 14px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    transition: 0.4s;
}
.help-needed-leave-request__btn button:hover{
    background-color: rgba(0, 136, 240,0.6);
    transition: 0.4s;

}


@media (max-width: 991.98px) {
    .help-needed-leave-request__title h3 {
        font-size: 21px;
    }
}
@media (max-width: 767.98px){
    .help-needed-leave-request__form{
        flex-direction: column;
        align-items: center;
        margin-top: 15px;
    }
    .help-needed-leave-request__inp{

        max-width: 226px!important;
        width: 100%;
        margin-bottom: 20px;
    }
    .help-needed-leave-request__inp label:before {
        display: none;
    }
    .help-needed-leave-request__inp label:after{
        display: none;
    }
    .help-needed-leave-request__inp label input{
        border: 1px solid rgb(0, 0, 0);
        height: 42px;
    }

}
@media (max-width: 575.98px){
    .help-needed-leave-request__title h3 {
        font-size: 19px;
    }

}