@import "../font/font.css";

.leave-phone-will-help__fon{
    margin: 150px 0 100px;
    background: rgb(3, 3, 3);
    position: relative;
}
.leave-phone-will-help__fon:before{
    content: "";
    background-image: url("../img/work-car.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1141px;
    width: 100%;
    height: 500px;
    position: absolute;
    left: 0;
    top: -70px;
    border-radius: 5px;
    box-shadow: 4.684px 5.202px 26.19px 0.81px rgba(0, 0, 0, 0.18);
}
.leave-phone-will-help__min{
    padding: 65px 0;

}
.leave-phone-will-help__info{
    max-width: 403px;
    width: 100%;
}
.leave-phone-will-help__title{
    border-bottom: 1px solid rgb(255, 255, 255);
    text-align: right;
}

.leave-phone-will-help__title strong{
    font-size: 27px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.212;
    text-align: right;
}
.leave-phone-will-help__form{
    margin-top: 30px;
}
.leave-phone-will-help__form .help-needed-leave-request__btn{
    margin-top: 15px;
    max-width: 210px;
}
.leave-phone-will-help__form .help-needed-leave-request__btn button{
    box-shadow: 0 0 10px rgb(0, 136, 240);
}

.leave-phone-will-help__form .help-needed-leave-request__inp{
    max-width: 210px;
}

.leave-phone-will-help__form .help-needed-leave-request__inp label input {
    border-left: 1px solid rgb(255,255,255);
    border-right: 1px solid rgb(255,255, 255);
    border-bottom: 1px solid rgb(255, 255,255);
    border-radius: 5px;
    color: rgba(255,255,255, 0.812);
    background: unset;
}
.leave-phone-will-help__form .help-needed-leave-request__inp label input::placeholder{
    color: rgba(255,255,255, 0.512);

}
.leave-phone-will-help__form  .help-needed-leave-request__inp label:after {
    background:rgb(3, 3, 3);
}
.leave-phone-will-help__form  .help-needed-leave-request__inp label:before {
    background:rgb(3, 3, 3);
}
.leave-phone-help__number {
    margin-top: 15px;
}
.leave-phone-help__number p{
    font-size: 12px;
    color: rgb(255, 255, 255);
    line-height: 1.217;
    margin-right: 5px;
}
.leave-phone-help__number a{
    font-size: 13px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.299;
    font-weight: 900;

}


@media (max-width: 1799.98px) {
    .leave-phone-will-help__fon:before{
        max-width: 1041px;
        height: 500px;
    }
}
@media (max-width: 1599.98px) {
    .leave-phone-will-help__fon:before{
        max-width: 990px;
    }
}
@media (max-width: 1499.98px) {
    .leave-phone-will-help__fon:before{
        max-width: 920px;
    }
}
@media (max-width: 1399.98px) {
    .leave-phone-will-help__fon:before{
        max-width: 870px;
    }
}
@media (max-width: 1299.98px) {
    .leave-phone-will-help__fon:before{
        max-width: 820px;
    }
}
@media (max-width: 1199.98px) {
    .leave-phone-will-help__fon:before{
        max-width: 780px;
        height: 450px;
        top: -50px;
    }
}
@media (max-width: 1169.98px) {
    .leave-phone-will-help__fon:before{
        max-width: 720px;
        height: 450px;
        top: -50px;
    }
}
@media (max-width: 991.98px) {
    .leave-phone-will-help__fon:before {
        max-width: 588px;
        height: 420px;
        top: -35px;
    }
    .leave-phone-will-help__fon {
        margin: 100px 0;
    }
}

@media (max-width: 991.98px) {
    .leave-phone-will-help__fon:before {
        max-width: 475px;
        height: 390px;
        top: -20px;
    }
    .leave-phone-will-help__min {
        padding: 45px 0;
    }
    .leave-phone-will-help__info {
        max-width: 276px;
        width: 100%;
    }
    .leave-phone-will-help__title strong {
        font-size: 22px;
    }
    .leave-phone-will-help__form .help-needed-leave-request__inp {
        max-width: 210px!important;
    }
}
@media (max-width: 767.98px) {
    .leave-phone-will-help__fon:before{
        display: none;
    }
    .leave-phone-will-help__block{
        justify-content: center;
    }
    .leave-phone-will-help__title {
        text-align: center;
    }
    .leave-phone-will-help__form {
        margin-top: 30px;
        justify-content: center;
    }
    .leave-phone-will-help__form__cnt{
        align-items: center;
    }
    .leave-phone-will-help__fon {
        margin: 50px 0;
    }
}
