@import "../font/font.css";

.tire-puncture-repair__img{
    max-width: 460px;
    width: 100%;
    height: 725px;
}
.tire-puncture-repair__img img{
    width: 100%;
    height: 100%;
}
.tire-puncture-repair__block{
    max-width: 695px;
    width: 100%;
    padding-left: 25px;
}
.tire-puncture-repair__text strong{
    font-size: 21px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    line-height: 1.3;
    text-align: left;
}
.tire-puncture-repair__text p{
    margin-top: 12px;
    font-size: 16px;
    color: rgb(0, 0, 0);
    line-height: 1.3;
    text-align: left;
}
.tire-puncture-repair__table{
    margin-top: 25px;
    width: 100%;
}
.tire-puncture-repair__table table{
    width: 100%;
}
.tire-puncture-repair__table table tr:nth-child(odd){
    background-color: rgba(0, 136, 240,0.051);
}
.tire-puncture-repair__table table tr:first-child{
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid rgba(0, 0, 0,0.2);
}
.tire-puncture-repair__table table tr td{
    font-size: 16px;
    color: rgb(2, 2, 2);
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.938;
    padding: 5px 15px;
}
.tire-puncture-repair__table table tr td + td{
    text-align: right;
}
.tire-puncture-repair__form{
    border-top: 1px solid rgba(0, 0, 0,0.2);
    margin-top: 15px;
}
.tire-puncture-repair__form .help-needed-leave-request__title h3 {
    font-size: 21px;
    line-height: 1.32;
    text-align: left;
    margin-top: 12px;
}
.tire-puncture-repair__form .help-needed-leave-request__form {
    margin: 2px auto 0;
}

@media (max-width: 1169.98px) {
    .tire-puncture-repair__img {
        max-width: 400px;
        height: 660px;
    }
    .tire-puncture-repair__text p {
        margin-top: 8px;
        font-size: 15px;
    }
    .tire-puncture-repair__table table tr td {
        line-height: 1.538;
    }
    .tire-puncture-repair__form  .help-needed-leave-request__btn {
        max-width: 180px;
    }
    .tire-puncture-repair__form  .help-needed-leave-request__inp + .help-needed-leave-request__inp {
        max-width: 180px;
    }
}
@media (max-width: 991.98px){
    .tire-puncture-repair__img {
        display: none;
    }
    .tire-puncture-repair__text{
        text-align: center;
    }
    .tire-puncture-repair__text p {
        text-align: center;
    }
    .tire-puncture-repair__form .help-needed-leave-request__title h3 {
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .tire-puncture-repair__min{
        justify-content: center;
    }
    .tire-puncture-repair__block {
        padding-left: 0;
    }
}
@media (max-width: 767.98px){

    .tire-puncture-repair__table {
        overflow-x: auto;
    }
    .tire-puncture-repair__table table{
        width: 500px;
    }

}