@import "../font/font.css";

.for-reviews-min{
    margin: 60px 0;
    position: relative;
}
.for-reviews-min:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 100%;
    background: rgb(249,249,249);
    z-index: 99;
}
.for-reviews-min:after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 15px;
    height: 100%;
    background: rgb(249,249,249);
    z-index: 99;

}
.for-reviews__block{
    margin-top: 170px;
}
.for-reviews__slider{
    margin-top: 40px;
}
.for-reviews__slider__box{
}
.for-reviews__slider__img {
    text-align: center;
}
.for-reviews__slider__img img{
    width: 97px;
    height: 97px;
    margin: 0 auto;
}
.slick-center .for-reviews__slider__img img{
    width: 110px;
    height: 110px;
    margin-bottom: 10px;
}
.for-reviews__slider__img p {
    font-size: 14px;
    color: rgb(2, 2, 2);
    line-height: 1.217;
    text-align: center;
    margin-top: 10px;
}

.for-reviews__text{
    background-color: rgb(255, 255, 255);
    max-width: 877px;
    width: 100%;
    padding: 20px;
    margin: 30px auto 0;
}
.for-reviews__text p{
    font-size: 14px;
    color: rgb(2, 2, 2);
    line-height: 1.317;
    text-align: center;
}







.for-reviews__slider .slick-prev {
    left: 60px;
}
.for-reviews__slider .slick-next{
    right: 60px;
}
.for-reviews__slider .slick-prev,.for-reviews__slider .slick-next {
    width: 10px;
    height: 10px;
    z-index: 9999;
    top: 40%;
}
.for-reviews__slider .slick-prev{
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: transparent;
    border-bottom: transparent;
    transform: rotate(-45deg);
}
.for-reviews__slider .slick-next{
    border-top: transparent;
    border-left: transparent;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    transform: rotate(-45deg);
}
.for-reviews__slider .slick-prev:before,.for-reviews__slider .slick-next:before{
    display: none;
}

@media (max-width: 991.98px) {
    .for-reviews-min:before{
        width: 30px;
    }
    .for-reviews-min:after{
        width: 30px;
    }
}

@media (max-width: 767.98px){
    .for-reviews-min:before{
        display: none;

    }
    .for-reviews-min:after{
        display: none;
    }

.slick-center .for-reviews__slider__img img {
    width: 97px;
    height: 97px;
    margin-bottom: 0;
}
    .for-reviews__block {
        margin-top: 70px;
    }
    .for-reviews-min {
        margin: 0px 0 40px;
    }
}
@media (max-width: 575.98px){

}