@import "../font/font.css";



.for-services__min{
    margin-top: 60px;
    margin-bottom: 25px;
}
.for-services__title{
    position: relative;
}
.for-services__title h2{
    font-size: 30px;
    font-weight: 900;
    color: rgb(2, 2, 2);
    text-transform: uppercase;
    line-height: 1.399;
    text-align: center;
    position: relative;
    z-index: 999;
}
.for-services__title:before{
    content: "";
    border-radius: 5px;
    background-color: rgb(0, 136, 240);
    opacity: 0.4;
    position: absolute;
    bottom: 0;
    left: 49.5%;
    transform: translateX(-49.5%);
    width: 18px;
    height: 18px;
}

.for-services__info{
    margin-top: 35px;
}
.for-services__info__box{
    width: 25%;
}
.for-services__info__fon{
    width: 100%;
    height: 316px;
    overflow: hidden;
    position: relative;
}

.for-services__info__fon img{
    width: 100%;
    height: 100%;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-origin: 43% 35% 0px;
    transition: all 0.5s;
    position: relative;


}
.for-services__info__fon:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
}
.for-services__info__box:hover .for-services__info__fon img{
    transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transition: all 0.5s;
    background-color: rgba(0, 136, 240,0.99);
    box-shadow: 4.684px 5.202px 26.19px 0.81px rgba(0, 0, 0, 0.18);
    border-radius: 3px;

}
.for-services__flex{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.for-services__info__title{
    position: relative;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    padding: 20px 15px;
}
.for-services__info__title p{
    font-size: 18px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.235;
    text-align: left;
    padding-right: 40px;
}
.for-services__info__box:hover .for-services__info__price{
    background: rgba(3,30,50,0.7);

}
.for-services__info__price{
    position: relative;
    z-index: 999;
    padding: 23px 15px 40px;
    transition: all 0.5s;

}
.for-services__info__price a{
    font-size: 14px;
    color: rgb(255, 255, 255);
    text-decoration: underline;
    line-height: 1.2;
    text-align: left;
    transition: 0.4s;
}
.for-services__info__price a:hover{
    text-decoration: unset;
}
.for-services__info__btn button{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    width: 159px;
    height: 38px;
    font-size: 14px;

    font-weight: 400;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    background: unset;
}
.for-services__info__box:hover .for-services__info__btn button{
    background-color: rgb(0, 136, 240);
    border: 1px solid rgb(0, 136, 240);
}




@media (max-width: 1169.98px) {
    .for-services__info__box {
        width: 33.333333%;
    }
    .for-services__info__fon {
        height: 354px;
    }
}
@media (max-width: 767.98px){
    .for-services__info__box {
        width: 50%;

    }
    .for-services__info__btn button {
        width: 140px;

    }
}
@media (max-width: 575.98px) {
    .for-services__info__box {
        width: 80%;
        margin: 0 auto;
    }
    .for-services__info__fon {
        height: 310px;
    }
}
@media (max-width: 374.98px) {
    .for-services__info__box {
        width: 100%;
        margin: 0 auto;
    }
}