@import "../font/font.css";


.how-we-are-working {
    margin-top: 110px;
}
.how-we-are-working__block {
    margin-top: 30px;
    margin-bottom: -112px;
}

.how-we-are-working__box {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: inset 0.5px 0.866px 6px 0px rgba(0, 0, 0, 0.35);
    max-width: 264px;
    width: 100%;
    padding: 25px 16px;
    height: 104px;
}
.how-we-are-working__info{
    width: 100%;
}
.how-we-are-working__info img{
    margin-right: 10px;
}
.how-we-are-working__info p{
    font-size: 16px;
    color: rgb(2, 2, 2);
    line-height: 1.313;
    text-align: left;
}
.how-we-are-working__box:first-child{
    margin-top: 80px;

}
.how-we-are-working__box:last-child{
    margin-top: 80px;
}
.how-we-are-working__fon{
    max-width: 887px;
    width: 100%;
    height: 959px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 40px 70px 40px 0;
}


.our-advantages__min {
    max-width: 1060px;
    margin: -188px auto 0;
    counter-reset: section;
    position: relative;
    z-index: 999;
}
.our-advantages__block{
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: inset 0.5px 0.866px 6px 0px rgba(0, 0, 0, 0.35);
    max-width: 263px;
    width: 100%;
    height: 211px;
    position: relative;
    padding: 15px 28px 15px 25px;
}

.our-advantages__block:first-child{
    margin-top: -50px;
}
.our-advantages__block:last-child{
    margin-top: -50px;
}
.our-advantages__block:nth-child(2){
    margin-top: 100px;
}
.our-advantages__block:nth-child(2):before{
    left: -73px;
}
.our-advantages__block:last-child:before {
    left: -70px;
}
.our-advantages__block:before {
    counter-increment: section;
    content: "" counter(section) " ";
    color: rgb(17, 137, 204);
    position: absolute;
    top: -73px;
    left: -52px;
    font-size: 214px;
    font-weight: 500;
    z-index: -1;
}



.our-advantages__block strong{
    font-size: 16px;
    color: rgb(2, 2, 2);
    font-weight: 500;
    line-height: 1.502;
    text-align: left;

}
.our-advantages__block p{
    font-size: 14px;
    color: rgb(2, 2, 2);
    line-height: 1.717;
    text-align: left;
    padding-left: 7px;
    border-left: 2px solid  rgb(98, 98, 98);
    margin-top: 15px;
}


@media (max-width: 1169.98px) {
    .our-advantages__min {
        max-width: 900px;
        margin: -183px auto 0;
    }
    .how-we-are-working__fon {
        max-width: 722px;
        height: 816px;
        background-size: contain;
    }
    .how-we-are-working__box {
        max-width: 224px;
        padding: 18px 9px;
        height: 95px;
    }
    .our-advantages__block {
        max-width: 245px;
        height: 213px;
        padding: 15px 30px 15px 15px;
    }
    .our-advantages__block:before {
        top: -63px;
        left: -42px;
        font-size: 191px;
    }
    .our-advantages__block:nth-child(2):before {
        left: -54px;
    }
    .our-advantages__block:last-child:before {
        left: -61px;
    }

}
@media (max-width: 991.98px){
    .how-we-are-working__fon__min{
        display: none;
    }
    .how-we-are-working__block {
        margin-top: 30px;
        margin-bottom: 0;
        flex-wrap: wrap;
        justify-content: center;
    }

    .our-advantages__block:first-child {
        margin-top: 0;
    }
    .our-advantages__block:nth-child(2) {
        margin-top: 0;
    }
    .our-advantages__block:last-child {
        margin-top: 0;
    }
    .our-advantages__min {
        margin: 32px auto 0;
    }
    .how-we-are-working__box {
        max-width: 224px;
        padding: 18px 9px;
        height: 95px;
        margin: 15px 10px!important;
    }
    .how-we-are-working__box:last-child {
        margin-top: 0;
    }
    .how-we-are-working__box:first-child {
        margin-top: 0;
    }
    .our-advantages__block:before{
        display: none;
    }
    .how-we-are-working {
        margin-top: 60px;
    }
    .our-advantages__cnt{
        margin-top: 40px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .our-advantages__block {
        max-width: 260px;
        height: 216px;
        padding: 20px 30px 20px 30px;
        margin: 30px 15px;
    }

}
@media (max-width: 575.98px){
    .for-services__title h2 {
        font-size: 23px;
    }
    .our-advantages__block {
        padding: 20px 25px 20px 25px;
        margin: 15px 10px;
    }
}